body {
	background-color: rgb(244,248,247);
}
h1 {
	color: rgb(60,74,77);
}
img {
	width: 100%;
}
.header {
	padding: 10px 0 10px 0;
}
.row {
	margin-bottom: 20px;
}
.row.zero {
	min-height: 200px;
}
.centered {
	text-align: center;
}
.columns {
	margin: 0 0 30px 0;
	padding: 0px;
}
